<h1>Edit Folder</h1>
<%= form_with model: @folder, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Update Folder" %>
  </div>
<% end %>
