<% if @folder && @folder.persisted? %>
  <% ancestors = @folder.ancestors + [@folder] %>
  <nav>
    <% ancestors.each do |ancestor| %>
      <%= link_to ancestor.name, folder_path(ancestor) %> /
    <% end %>
  </nav>
<% end %>
